@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

//Colors
$primary: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$grayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//Fonts
$baseFont: "Space Mono", monospace;

html {
  font-family: $baseFont;
}

body {
  min-height: 100vh;
  background-color: $lightGrayishCyan;
  // font-size: 24px;
}

.container {
  width: 700px;
  background-color: $white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.logo {
  display: block;
  margin: 25px auto 65px auto;
}

.tip-calculator {
  padding: 38px 40px 22px 40px;
  display: flex;
  column-gap: 20px;
}

.input {
  width: 285px;
  height: 35px;
  color: $veryDarkCyan;
  margin-top: 7px;
  background-color: $veryLightGrayishCyan;
  border-style: none;
  font-family: inherit;
  font-size: 20px;
  text-align: right;
}

.input:focus-visible {
  outline: 3px solid $primary;
  border-radius: 5px;
}

.input::placeholder {
  color: $grayishCyan;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number" i] {
  padding: 3px 10px;
}

.grayishCyan {
  color: $grayishCyan;
  font-size: 13px;
}

.all-bill-container {
  position: relative;
  padding-bottom: 20px;
  width: 295px;
}

.svg-dollar::before {
  content: url(/images/icon-dollar.svg);
  position: absolute;
  display: flex;
  align-items: center;
  left: 7px;
  top: 45%;
  background-color: $veryLightGrayishCyan;
  padding-right: 5px;
}

.number-people-container {
  position: relative;
}

.svg-people::before {
  content: url(/images/icon-person.svg);
  position: absolute;
  display: flex;
  align-items: center;
  left: 7px;
  top: 58%;
  background-color: $veryLightGrayishCyan;
  padding-right: 5px;
}

.tips {
  padding-top: 15px;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: space-between;
  margin-bottom: 33px;
}

.tip {
  width: 90px;
  height: 37px;
  border-style: none;
  background-color: $veryDarkCyan;
  color: $white;
  border-radius: 5px;
  padding: 0px;
  font-size: 17px;
  font-family: inherit;
}

.tip:focus {
  background-color: $lightGrayishCyan;
  color: $veryDarkCyan;
}

.input-custom {
  background-color: $veryLightGrayishCyan;
  color: $veryDarkCyan;
  text-align: right;
  padding: 0 !important;
}

.input-custom::placeholder {
  color: $darkGrayishCyan;
  text-align: center;
}

.output-area {
  padding: 38px 41px 27px 33px;
  background-color: $veryDarkCyan;
  border-radius: 20px;
}

.amount-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 10px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.amount {
  padding-bottom: 0px;
  margin: 0px;
  color: $lightGrayishCyan;
}

.person {
  margin: 0px;
  color: $primary;
  font-size: 10px;
}

.button {
  width: 250px;
  height: 40px;
  background-color: $primary;
  border-style: none;
  border-radius: 5px;
  color: $veryDarkCyan;
  margin-top: 40px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.button:active {
  background-color: $lightGrayishCyan;
}

.output-amount {
  color: $primary;
  margin: 0px;
  font-size: 30px;
}

.output-label {
  font-size: 13px;
}
